<div>
  <mat-toolbar class="toolbarNav" color="primary">
    <span>
      <button *ngIf="authService.hasPermission('auth.view_group')" mat-icon-button (click)="sidenav.toggle()" style="margin-left:10px">
        <mat-icon>shopping_basket</mat-icon>
        SimpleFood
      </button>
    </span>

    <div fxShow="true" fxHide.lt-md="true" fxFlex="" fxLayoutAlign="center center">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <button *ngIf="authService.hasPermission('simplefoodapp.add_auth')" href="#" mat-button [matMenuTriggerFor]="restaurantMenu">Restaurants</button>
      <mat-menu #restaurantMenu="matMenu">
        <button mat-menu-item routerLink="restaurant-list">List restaurants</button>
        <button mat-menu-item routerLink="restaurant-form">Create restaurant</button>
      </mat-menu>
      <button *ngIf="authService.hasPermission('auth.view_group')" href="#" mat-button [matMenuTriggerFor]="foodMenu">Food</button>
      <mat-menu #foodMenu="matMenu">
        <button mat-menu-item routerLink="menu-list">List food</button>
        <button *ngIf="authService.hasPermission('admin.add_logentry')" mat-menu-item routerLink="menu-form">Create food</button>
      </mat-menu>
      <button *ngIf="authService.hasPermission('admin.add_logentry')" href="#" mat-button [matMenuTriggerFor]="userMenu">Users</button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item routerLink="employee">List users</button>
        <button mat-menu-item routerLink="sign-up">Create user</button>
      </mat-menu>
    </div>

    <span class="example-spacer"></span>

    <div fxShow="true" fxHide.gt-sm="true">
      <button href="#" mat-icon-button (click)="sidenav2.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav2 fxLayout="column" position="end">
      <div fxLayout="column">
        <button *ngIf="authService.hasPermission('simplefoodapp.add_auth')" href="#" mat-icon-button [matMenuTriggerFor]="restaurantMenu">
          <mat-icon>restaurant</mat-icon>
          Restaurants</button>
        <mat-menu #restaurantMenu="matMenu">
          <button mat-menu-item routerLink="restaurant-list">List restaurants</button>
          <button mat-menu-item routerLink="restaurant-form">Create restaurant</button>
        </mat-menu>
        <button *ngIf="authService.hasPermission('auth.view_group')" href="#" mat-icon-button [matMenuTriggerFor]="foodMenu">
          <mat-icon>fastfood</mat-icon>
          Food
        </button>
        <mat-menu #foodMenu="matMenu">
          <button mat-menu-item routerLink="menu-list">List food</button>
          <button *ngIf="authService.hasPermission('admin.add_logentry')" mat-menu-item routerLink="menu-form">Create food</button>
        </mat-menu>
        <button *ngIf="authService.hasPermission('admin.add_logentry')" href="#" mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon>face</mat-icon>
          User
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item routerLink="employee">List users</button>
          <button mat-menu-item routerLink="sign-up">Create user</button>
        </mat-menu>
        <mat-divider></mat-divider>
        <div>
          <a (click)="sidenav2.toggle()" href="#" mat-button>Close Sidebar</a>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav #sidenav mode="side" opened="false">
      <app-nav></app-nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh;" align="center center">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>SS

  </mat-sidenav-container>
</div>

<app-footer></app-footer>





