<form [formGroup]="menuFormGroup" (ngSubmit)="createOrUpdateMenu()" class="menu-form__form">

  <!-- MenuItem Name Field -->
  <mat-form-field>
    <input matInput type="text" placeholder="Item Name" formControlName="name">
    <mat-error *ngIf="menuFormGroup.controls.name.hasError('required')">Name is required</mat-error>
  </mat-form-field>

  <!-- MenuItem Description Field -->
  <mat-form-field>
    <textarea matInput placeholder="Description" formControlName="description"></textarea>
    <mat-error *ngIf="menuFormGroup.controls.description.hasError('maxLength')">Description is too long</mat-error>
  </mat-form-field>

  <!-- Category Field -->
  <mat-form-field>
    <!-- <input [(ngModel)]="menuItem.category" matInput type="text" placeholder="Category" formControlName="category"> -->
    <mat-select placeholder="Category" formControlName="category">
      <mat-option value="f"> Food</mat-option>
      <mat-option value="d"> Drink</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Price Field -->
  <mat-form-field>
    <input matInput type="number" placeholder="Price" formControlName="price">
  </mat-form-field>

  <!-- ImageUrl Field -->
  <mat-form-field>
    <input matInput type="text" placeholder="ImageUrl" formControlName="image">
  </mat-form-field>


  <br/>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!menuFormGroup.valid">
      <span *ngIf="!menuFormGroup.controls.pk.value">Create</span>
      <span *ngIf="menuFormGroup.controls.pk.value">Update</span>
    </button>
  </mat-card-actions>



</form>
