

<mat-toolbar color="primary">
  <button *ngIf="authService.hasPermission('auth.view_group')" mat-icon-button (click)="sidenav.toggle()" style="margin-left:10px">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-button [disabled]="true" color="warn">
    SimpleFood
  </button>
  <button *ngIf="authService.hasPermission('simplefoodapp.add_auth')" mat-button [matMenuTriggerFor]="restaurantMenu">Restaurants</button>
  <mat-menu #restaurantMenu="matMenu">
    <button mat-menu-item routerLink="restaurant-list">List restaurants</button>
    <button mat-menu-item routerLink="restaurant-form">Create restaurant</button>
  </mat-menu>
  <button *ngIf="authService.hasPermission('auth.view_group')" mat-button [matMenuTriggerFor]="foodMenu">Food</button>
  <mat-menu #foodMenu="matMenu">
    <button mat-menu-item routerLink="menu-list">List food</button>
    <button *ngIf="authService.hasPermission('admin.add_logentry')" mat-menu-item routerLink="menu-form">Create food</button>
  </mat-menu>
  <button *ngIf="authService.hasPermission('admin.add_logentry')" mat-button [matMenuTriggerFor]="userMenu">Users</button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="employee">List users</button>
    <button mat-menu-item routerLink="sign-up">Create user</button>
  </mat-menu>
  <span class="example-spacer"></span>
  <app-logout></app-logout>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item>sdfasdf </a>
      <a mat-list-item>sdfasdf </a>
      <a mat-list-item>sdfasdf </a>
      <a mat-list-item>sdfasdf </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>


