<mat-toolbar>

  <div *ngIf="authService.getUser()">
    {{authService.getUserData().username}}
  </div>

  <button mat-button [matMenuTriggerFor]="restaurantMenu">Restaurants</button>
  <mat-menu #restaurantMenu="matMenu">
    <button mat-menu-item routerLink="restaurant-list">List restaurants</button>
    <button mat-menu-item routerLink="restaurant-form">Create restaurant</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="foodMenu">Food</button>
  <mat-menu #foodMenu="matMenu">
    <button mat-menu-item routerLink="menu-list">List food</button>
    <button mat-menu-item routerLink="menu-form">Create food</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="userMenu">Users</button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="restaurant-list">List users</button>
    <button mat-menu-item routerLink="sign-up">Create user</button>
  </mat-menu>

  <app-logout></app-logout>
</mat-toolbar>


<router-outlet></router-outlet>


