<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <form novalidate (ngSubmit)="onSubmit()">
        <h3>Please login to continue</h3>
        <mat-form-field class="full-width-input">
          <input matInput
                 placeholder="Username"
                 id="username"
                 class="form-control"
                 type="text"
                 [(ngModel)]="user.username"
                 name="username"
                 required>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput
                 placeholder="Password"
                 id="password"
                 class="form-control"
                 type="password"
                 [(ngModel)]="user.password"
                 name="password"
                 required>
        </mat-form-field>
        <button mat-raised-button
                class="btn btn-primary btn-block"
                type="submit"
                [disabled]="false"
        >Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
