<form [formGroup]="menuFormGroup" (ngSubmit)="createOrUpdateMenu2()" class="menu-form__form">

  <!-- MenuItem Name Field -->
  <mat-form-field>
    <input [(ngModel)]="menuItem.name" matInput type="text" placeholder="Item Name" formControlName="name">
    <mat-error *ngIf="menuFormGroup.controls.name.hasError('required')">Name is required</mat-error>
  </mat-form-field>

  <!-- MenuItem Description Field -->
  <mat-form-field>
    <textarea [(ngModel)]="menuItem.description" matInput placeholder="Description" formControlName="description"></textarea>
    <mat-error *ngIf="menuFormGroup.controls.description.hasError('maxLength')">Description is too long</mat-error>
  </mat-form-field>

  <!-- Category Field -->
  <mat-form-field>
    <input [(ngModel)]="menuItem.category" matInput type="text" placeholder="Category" formControlName="category">
  </mat-form-field>

  <!-- Price Field -->
  <mat-form-field>
    <input [(ngModel)]="menuItem.price" matInput type="text" placeholder="Price" formControlName="price">
  </mat-form-field>

  <!-- Status Field -->
  <mat-checkbox [(ngModel)]="menuItem.status_available" class="example-margin"  formControlName="available">Available</mat-checkbox>

  <!-- Restaurant Field -->
  <!--
  <mat-label>Select Restaurant</mat-label>
  <mat-select>
    <mat-option *ngFor="let restaurant of restaurants" [value]="restaurant.pk">
      {{restaurant.name}}
    </mat-option>
  </mat-select>
  -->

  <!-- Alcoholic Field -->
    <mat-checkbox [(ngModel)]="menuItem.alcoholic" class="example-margin" formControlName="alcoholic">Alcoholic</mat-checkbox>

  <br/>
  <mat-card-actions align="center">
    <button mat-raised-button color="primary" [disabled]="!menuFormGroup.valid">
      <span *ngIf="!menuFormGroup.controls.pk.value">Create</span>
      <span *ngIf="menuFormGroup.controls.pk.value">Update</span>
    </button>
  </mat-card-actions>


</form>
