
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">Register Employee or Table</div>

      <div class="card-body">
        <form novalidate (ngSubmit)="onSubmit()" #signUpForm="ngForm">

          <div class="form-group">
            <label for="restaurant" *ngIf="authService.hasPermission('simplefoodapp.add_auth')">Restaurant:</label>
            <select *ngIf="authService.hasPermission('simplefoodapp.add_auth')"
              id="restaurant"
              class="form-control"
              type="text"
              [(ngModel)]="user.restaurant"
              name="restaurant"
              required>
              <option *ngFor="let restaurant of restaurants" [value]="restaurant.pk">
                {{restaurant.name}}
              </option>
            </select>

          </div>



          <div class="form-group">
            <label *ngIf="authService.hasPermission('simplefoodapp.add_auth')">Group:</label>
            <select *ngIf="authService.hasPermission('simplefoodapp.add_auth')"
              class="form-control"
              [(ngModel)]="user.group"
              name="group"
              required
            >
              <option value="restaurantadmin">Restaurant Admin</option>
              <option value="employee">Employee</option>
              <option *ngIf="!authService.hasPermission('simplefoodapp.add_auth')"> value="table">Table</option>
            </select>
          </div>

          <div class="form-group">
            <label for="username">Username:</label>
            <input
              id="username"
              class="form-control"
              type="text"
              [(ngModel)]="user.username"
              name="username"
              required
            >
          </div>
<field *ngIf="!authService.hasPermission('simplefoodapp.add_auth')">
          <input  [formControl]="disableSelect" type="checkbox" id="cb1" ng-model="check" ng-change="checkAll(check)" [(ngModel)]="user.group" ng-true-value="table" ng-false-value="employee"/> Is Table
</field>
          <div class="form-field">
            <label for="firstName">First name:</label>
            <input [disabled]="disableSelect.value"
                   id="firstName"
                   class="form-control"
                   type="text"
                   [(ngModel)]="user.firstName"
                   name="firstName"
                       required>
          </div>

          <div class="form-field">
            <label for="lastName">Last name:</label>
            <input [disabled]="disableSelect.value"
                   id="lastName"
                   class="form-control"
                   type="text"
                   [(ngModel)]="user.lastName"
                   name="lastName"
                   required>
          </div>



          <div class="form-group">
            <label for="password">Password:</label>
            <input
              id="password"
              class="form-control" type="password"
              [(ngModel)]="user.password"
              name="password"
              required
            >
          </div>
          <p></p>
          <button
            button mat-raised-button type="submit" class="btn btn-primary" color="primary"
            [disabled]="false" *ngIf="authService.hasPermission('admin.add_logentry')"
          >Sign up
          </button>
        </form>
      </div>

    </div>
  </div>
</div>

