.content {
  padding: 16px;
}

.content > mat-card {
  width: 10px;
}

.toolbarNav{
  justify-content: center;
  padding: 1%;
  background-color: darkgrey;
  position: r;
}

.cardPos{
  justify-content: center;
}

.fromBottom {
  margin-bottom: 40px;
  margin-top: 60px;
}

.layout-row{

  display: flex;
  align-items: stretch;

}

mat-button-toggle-group {
  margin-left: 12px;
}

.mat-button-toggle {
  background-color: royalblue;
  color: blue;
}

.mat-button-toggle-checked {
  background-color: indianred;
  color: blue;
}

