<mat-divider></mat-divider>
<mat-toolbar class="toolbarNav">
  <p>
    <mat-button-toggle-group appearance="default" name="fontStyle" aria-label="Font Style">
      <mat-button-toggle value="all" (change)="onValChange($event.value)">All</mat-button-toggle>
      <mat-button-toggle value="food" (change)="onValChange($event.value)" value="italic">Food</mat-button-toggle>
      <mat-button-toggle value="drink" (change)="onValChange($event.value)" value="underline">Drink</mat-button-toggle>
    </mat-button-toggle-group>
  </p>
</mat-toolbar>
<div class="content">
  <div class="fromBottom">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let menuItem of menuItems">
        <app-menu-item [menuItem]="menuItem"></app-menu-item>
      </div>
    </div>
  </div>
</div>
