<div class="middle-center">
  <h1 class="landing logo">SimpleFood</h1>

  <div *ngIf="getUser(); then thenBlock; else elseBlock;"></div>
  <ng-template #thenBlock>
    <button mat-raised-button type="submit" class="btn btn-primary" color="primary" [routerLink]="isTable() ? '/menu-list' : '/employee'">Head to Dashboard</button>
    <p></p>
    <button mat-raised-button type="submit" class="btn btn-primary" color="primary" [routerLink]="['/sign-up']" *ngIf="authService.hasPermission('admin.add_logentry')">Register User Or Table</button>
    <p></p>
    <button mat-raised-button type="submit" class="btn btn-primary" color="primary" (click)="logOut() ">Log out</button>
  </ng-template>
  <ng-template #elseBlock>
    <button mat-raised-button type="submit" class="btn btn-primary" color="primary" [routerLink]="['/log-in']">Log in</button>
   <!-- <button class="btn btn-primary" [routerLink]="['/sign-up']" >Sign up</button> -->
  </ng-template>
</div>


