<mat-card class="mat-elevation-z4" >
  <mat-card-header>
    <mat-card-title>{{menuItem.name}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image src="{{menuItem.image || 'https://lh3.googleusercontent.com/proxy/Rf3phGL67vlqKSjBnEB0SeHizh2qOoZVNFjvfRHfHsq8cRg3XOREoonIajahWGxZkZ4Nx_B5Ivbw0eQSDwWIsbiyVcvG7eXcsgzc_fsPFpDyqhDoSjQOXstJmBqN'}}">
  <mat-card-content>
    <p>
      {{menuItem.description}}
    </p>
    <p>
      Price: {{menuItem.price | currency: 'EUR'}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <div fxLayoutAlign="center center">
      <button mat-button *ngIf="authService.hasPermission('admin.add_logentry')" fxLayoutGap="5px grid" color="primary" [routerLink]="'/menu-form/' + menuItem.pk">EDIT</button>
      <button mat-button *ngIf="authService.hasPermission('admin.add_logentry')" fxLayoutGap="5px grid" color="warn" (click)="deleteMenuItem(menuItem)"  fxLayoutGap="5px grid" color="warn">DELETE</button>
      <button mat-button  fxLayoutGap="5px grid" color="primary" (click)="handleAddToCart(menuItem)">ADD</button>
    </div>
  </mat-card-actions>
</mat-card>
